
/* ============================================================
    SPECIAL FONTS
============================================================ */
@font-face {
  font-family: "brush-strokes";
  src: url("../font/brush-strokes.ttf") format("truetype");
}

@font-face {
  font-family: "just-vector";
  src: url("../font/just-vector.ttf") format("truetype");
}


/* ============================================================
    MY CUSTOM COLOR PALLET FOR THE SITE; ADDITIONALLY
    WILL USE BLACK AND WHITE
============================================================ */
:root {
  --clr-green: #918C38;
  --clr-tan: #C79735;
  --clr-lt-tan: #E1C888;
  --clr-brown: #452E1C;
}



/* ============================================================
    OVERALL PAGE STYLING - APPLIES TO ALL PAGES
============================================================ */

/* General items
  ------------------------------------------------------------ */
/* Start off with no margins & padding, then add as needed */
.my-page-wrapper {
  margin: 0;
  padding: 0;
}

/* Set overall background to black, same as footer, thus for
   shorter pages, do not get a white bar below footer */
body {
  background-color: black;
}


/* Main navigation bar
  ------------------------------------------------------------ */
#page-navbar  {      /* even thought set padding=0 above, some creeps back in here */
  padding-top: 0;
  padding-bottom: 0;
}

/* this is the word "Sake" in the upper left of the nav bar */
#page-navbar .navbar-brand {
  color: var(--clr-brown);
  font-family: brush-strokes;
  font-size: 3rem;
  font-style: italic;
  padding: 0;
}

#page-navbar .navbar-brand:hover {
  color: var(--clr-brown);
}

/* background for the navbar and it's dropdowns */
#page-navbar, 
#page-navbar .dropdown-menu {
  background-color: var(--clr-green);
}

/* navbar items and behavior */
#page-navbar .nav-link {
  color: white;
  font-size: 1.25rem;
  margin-right: 1rem;
}

#page-navbar .nav-link.active {
  color: var(--clr-brown);
}

#page-navbar .nav-link:hover {
  color: var(--clr-lt-tan);
}

#page-navbar .nav-link.active:hover {
  color: var(--clr-lt-tan);
}

/* navbar dropdown items behavior; mirrors main navbar */
#page-navbar .dropdown-item {
  color: white;
}

#page-navbar .dropdown-item:hover {
  background-color: var(--clr-green);
  color: var(--clr-lt-tan);
}

#page-navbar .dropdown-item.active {
  background-color: var(--clr-green);
  color: var(--clr-brown);
}

#page-navbar .dropdown-item:focus {
  background-color: var(--clr-green);
  color: var(--clr-lt-tan);
}

#page-navbar .dropdown-item:hover {
  color: var(--clr-lt-tan);
}





/* Breadcrumb
  ------------------------------------------------------------ */
/* Note we have to 'push' it down into position via some padding
   on top; this is because the Bootstrap navbar we are using uses 
   position:fixed */
.breadcrumb {
  padding-top: 80px; 
  margin-bottom: 0;
  border-radius: 0;
  background-color: var(--clr-lt-tan);
}

.breadcrumb-item a {
  color: white;
}

.breadcrumb-item.active {
  color: var(--clr-brown);
}



/* Main section
  ------------------------------------------------------------ */
main {
  min-height: 40rem;
}

.page-description {
  text-align: center;
  padding-top: 1rem;      /* have to use padding here else get a narrow back bar across top; <main> does not act like a <div> */
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}

.page-description h1 {
  font-family: brush-strokes;
  font-size: 4rem;
  color: white;
}

.page-description p {
  color: white;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-left: 1rem;
  margin-right: 1rem;
}

.page-description p em {
  font-style: italic;
  font-weight: bold;
}



/* Footer for the page
  ------------------------------------------------------------ */
footer {
  background-color: black;
  border-top-style:solid;
  border-top-width: 1px;
  border-top-color: var(--clr-lt-tan);
}

footer .footer-nav {
  margin-top: 1rem;
  color: darkgray;
  font-size: 100%;
}

footer .footer-nav li {
  list-style: none;
  margin-left: 2ch;
  font-size: 80%;
}

footer .footer-nav a {
  color: darkgray;
}

footer .footer-nav a:hover {
  color: white;
}

footer .footer-copyright {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 75%;
  font-style: italic;
  color: silver;
}



/* ============================================================
    HOME PAGE SPECIFIC ITEMS
============================================================ */
#page-home main {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(0,0,0,0.8)), 
                    url('../img/sake-barrels2.webp');
                    
  background-size: cover;
  background-position: center;
}


#page-home .card-deck {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 60rem;
}

#page-home .card-header {
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
}

#page-home .card-footer .btn {
  background-color: var(--clr-green);
  color: white;
}

#page-home .card-footer a:hover {
  color: var(--clr-brown);
}


/* ============================================================
    HOW SAKE IS MADE PAGE SPECIFIC ITEMS
============================================================ */

/* Make the video responsive
  ------------------------------------------------------------ */
#page-how-sake-is-made video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 66%;
  outline-style: none;
}




/* ============================================================
    MY FAVORITE SAKE PAGE SPECIFIC ITEMS
============================================================ */
#page-my-favorite-sake #list-and-detail {
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;     /* Note on this page we are giving more width than on other pages */
  border-radius: 10px;
}

#page-my-favorite-sake #sake-list {
  margin-top: 1rem;
  margin-bottom: .5rem;
  
  /* do not allow the list width to grow beyond a # chars */  
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 32ch;
  max-height: 45rem;
  overflow-y: auto;
}

/* Note on flex basis for the labels and detail. We are doing some
   manual control, giving more room to the detail when the window width
   increases and not to the labels (they don't benefit from additional 
   width). We are also not allowing the labels to shrink (so really treating
   them as fixed vs flex).
   
   It is critical that the flex basis for the label + flex basis
   for the detail = the overall container max width */

#page-my-favorite-sake #sake-detail {
   margin-top: .5rem;
   margin-bottom: .5rem;
}

#page-my-favorite-sake #sake-detail .row {
   margin-top: .5rem;
   margin-bottom: .5rem;
}

#page-my-favorite-sake .sake-detail-label {
  font-weight: bold;

  /* do not allow the label width to shrink or grow */  
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20ch;
}

#page-my-favorite-sake .sake-detail-text {
  /* the text area can shrink and grow */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40ch;
}






/* ============================================================
    SAKE BREWERIES PAGE SPECIFIC ITEMS
============================================================ */

/* Formatting for the carousel / slide show
  ------------------------------------------------------------ */
#page-sake-breweries .brewery-carousel {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 600px;    /* the images are 600px; don't allow to stretch/scale */
}

#page-sake-breweries .carousel-caption {
  background-color: rgba(100,100,100,.7);
  box-shadow: 0px 0px 4px 4px rgba(100,100,100,.7);
}

#page-sake-breweries .carousel-caption h5 {
  font-size: 1.5rem;
}




/* ============================================================
    SAKE NEWS PAGE SPECIFIC ITEMS
============================================================ */
#page-sake-industry-news #news-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

#page-sake-industry-news .media {
  background-color: white;
  color: black;
  margin-bottom: 1rem;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
}

/* do not want last item to have bottom margin; else get a margin
   from the item plus container at bottom */
#page-sake-industry-news .media:last-child {
  margin-bottom: 0;
}

#page-sake-industry-news .media img {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
}

#page-sake-industry-news .media .publish-date {
  color: grey;
  font-size: .66em;
  font-style: italic;
  margin-left: 1em;
}

#page-sake-industry-news .media .footer {
  font-size: .75em;
  font-style: italic;
  margin-top: .5rem;
  margin-bottom: .5em;
}

#page-sake-industry-news audio {
  outline-style: none;
  display: block;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#page-sake-industry-news .media-body button {
  margin-top: .5rem;
}

#page-sake-industry-news #rice-prod-modal_chart_div {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}



/* ============================================================
    BONUS PAGE SPECIFIC ITEMS
============================================================ */
#page-bonus #tabbed-area {
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  min-height: 45rem;
  border-radius: 10px;
}

#page-bonus .nav-item.nav-link {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#page-bonus #canvas-drawing {
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
}

#page-bonus #svg-drawing {
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
}

#page-bonus .tab-pane {
  margin-left: 1rem;
  margin-right: 1rem;
}

#page-bonus .pane-header {
  margin-top: .25rem;
  text-align: center;
}

#page-bonus .tab-content p {
  line-height: 120%;
}  

#page-bonus .tab-content code {
  color: slategray;
  display: inline-block;
  line-height: normal;
}  

#page-bonus #btn-svg-pan-up,
#page-bonus #btn-svg-pan-down,
#page-bonus #btn-svg-pan-left,
#page-bonus #btn-svg-pan-right,
#page-bonus #btn-svg-zoom-in,
#page-bonus #btn-svg-zoom-out,
#page-bonus #btn-svg-reset {
  max-width: 12ch;
  margin-left: auto;
  margin-right: auto;
}

#page-bonus #btn-svg-pan-left {
  margin-top: 2rem;
}

#page-bonus #btn-svg-zoom-in {
  margin-top: 2rem;
}

#page-bonus #btn-svg-reset {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#page-bonus #btn-access-secret-page {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

#page-bonus #broken-link {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

#page-bonus #broken-link img {
  border-style: solid;
  border-width: 10px;
  border-radius: 100px;
}





/* ============================================================
    SECRET PAGE SPECIFIC ITEMS
============================================================ */
/* None (yet) */




/* ============================================================
    404 PAGE SPECIFIC ITEMS
============================================================ */
/* None (yet) */







/* ============================================================
    CONTACT PAGE SPECIFIC ITEMS
============================================================ */
#page-contact #contact-form {
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  border-radius: 10px;
}

#page-contact #contact-form-left {
  margin-top: 1rem;
  font-family: just-vector;
  font-size: 36px;
  text-align: center;
}

#page-contact .social-media-icon img{
  height: 48px;
  height: 40px;
}


#page-contact .social-media-icon img:hover {
  height: 52px;
}


#page-contact #contact-form-right {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#page-contact #contact-form-right button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




/* ============================================================
    CONTENT MAP PAGE SPECIFIC ITEMS
============================================================ */
#page-content-map #content-map-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

#page-content-map #content-map-container img {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}





/* ============================================================
    WIREFRAMES PAGE SPECIFIC ITEMS
============================================================ */
#page-wireframes #wireframes-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}

#page-wireframes #wireframes-list {
  max-width: 30ch;
  margin-bottom: .5rem;
  margin-left: auto;
  margin-right: auto;
}

#page-wireframes #wireframes {
/* start with 'too short' height; let page render and in JS, set the
   height to the height of #wireframes which is a scrollable area
   containing the actual wireframes */
  height: 100px; 
  
  overflow-y: scroll;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

#page-wireframes .wireframe-header {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: .5rem;
  margin-bottom: 0;
}

#page-wireframes .wireframe-image {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}




/* ============================================================
    PROJECT WALKTHROUGH PAGE SPECIFIC ITEMS
============================================================ */
#page-project-walkthrough #requirements-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  background-color: white;
  border-radius: 10px;
}

#page-project-walkthrough .requirements-list-item {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: silver;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: .5rem;
}

#page-project-walkthrough .requirements-list-item:first-child {
  padding-top: .5rem;
}

#page-project-walkthrough .requirements-list-item:last-child {
  border-bottom-style: none;
  padding-bottom: .5rem;
}

#page-project-walkthrough .list-item-header {
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

#page-project-walkthrough .list-item-detail {
  margin-left: 6ch;
  margin-right: 1rem;
  margin-bottom: .5rem;
}





/* ============================================================
    PAGESPEED INSIGHTS PAGE SPECIFIC ITEMS
============================================================ */
#page-pagespeed-insights #pagespeed-data {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  background-color: white;
/*  
  max-height: 30rem;
  overflow-y: auto;
  */
border-style: solid;
border-width: 1px;
border-color: black;
border-radius: 10px;
}

#page-pagespeed-insights #pagespeed-data thead {
  font-style: italic;
  font-size: 1.25rem;
}

#page-pagespeed-insights #pagespeed-data thead th {
  border: none;
}

#page-pagespeed-insights #pagespeed-data td a {
  font-size: .8rem;
}




/* ============================================================
    CREDITS PAGE SPECIFIC ITEMS
============================================================ */

#page-credits #credits-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  background-color: white;
  border-radius: 10px;
}

#page-credits .credits-list-header {
  background-color: silver;
  font-family: brush-strokes;
  font-size: 2rem;
  text-align: center;
  padding-top: .5rem;
}

#page-credits .credits-list-section:first-child .credits-list-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#page-credits .credits-list-item {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: silver;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: .5rem;
}

#page-credits .credits-list-item:first-child {
  padding-top: .5rem;
}

#page-credits .credits-list-item:last-child {
  border-bottom-style: none;
  padding-bottom: .5rem;
}

#page-credits .credits-list-item-header {
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

#page-credits .credits-list-item-detail {
  margin-left: 6ch;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

#page-credits .credits-list-item-footer {
  margin-left: 10ch;
  margin-right: 1rem;
  margin-bottom: .5rem;
  font-style: italic;
  font-size: .75rem;
}






/* ============================================================
    STUFF HANDY FOR POSITIONING AND TINKERING
============================================================ */

.debug-show-box {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

#page-xxxxxxx div {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

