
/* ============================================================
    SPECIAL FONTS
============================================================ */
@font-face {
  font-family: 'brush-strokes';
  src: url('../font/BrushStrokes.ttf') format('truetype');
}


/* ============================================================
    MY CUSTOM COLOR PALLET FOR THE SITE; ADDITIONALLY
    WILL USE BLACK AND WHITE
============================================================ */
:root {
  --clr-green: #918C38;
  --clr-tan: #C79735;
  --clr-lt-tan: #E1C888;
  --clr-brown: #452E1C;
}



/* ============================================================
    OVERALL PAGE STYLING - APPLIES TO ALL PAGES
============================================================ */

/* Start off with no margins & padding, then add as needed */
.my-page-wrapper {
  margin: 0;
  padding: 0;
}

/* Main navigation bar
  ------------------------------------------------------------ */
.navbar-brand {
  color: var(--clr-brown);
  font-family: brush-strokes;
  font-size: 3rem;
  font-style: italic;
  padding: 0;
}

.navbar-brand:hover {
  color: var(--clr-brown);
}

.navbar, 
.dropdown-menu {
  background: var(--clr-green);
}

.nav-link {
  color: white;
  font-size: 1.25rem;
  margin-right: 1rem;
}

.dropdown-item {
  color: white;
}

.nav-link:hover,
.dropdown-item:hover {
  color: var(--clr-brown);
}

.dropdown-item:focus {
  background-color: var(--clr-brown);
  color: var(--clr-lt-tan);
}

.nav-item.active .nav-link {
  color: var(--clr-brown);
}

/* Breadcrumb
  ------------------------------------------------------------ */
/* Note we have to 'push' it down into position; this is because
   the Bootstrap navbar we are using uses position:fixed */
.breadcrumb {
  padding-top: 100px; 
  margin-bottom: 0;
  background-color: var(--clr-lt-tan);
}

.breadcrumb-item a {
  color: white;
}

.breadcrumb-item.active {
  color: var(--clr-brown);
}

.breadcrumb-item:hover {
  
}



/* Page footer
  ------------------------------------------------------------ */
footer {
  background-color: var(--clr-brown);
  color: white;
}





/* ============================================================
    MAIN SECTION OF THE PAGE
    ?? WILL ALL PAGES USE THIS ??
============================================================ */
main {
  padding-bottom: 2rem;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                    url('../img/sake-barrels.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
}

.page-description {
  text-align: center;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  max-width: 60rem;
  margin: auto;
}

.page-description h1 {
  font-family: brush-strokes;
  font-size: 4rem;
  color: white;
}

.page-description p {
  color: white;
  font-size: 1.3rem;
  line-height: 1.5;
}



/* ============================================================
    STUFF SPECIFIC TO THE HOME PAGE
============================================================ */
.card-header {
  font-weight: bold;
}

.card-footer .btn {
  background-color: var(--clr-green);
  color: white;
}

.card-footer a:hover {
  color: var(--clr-brown);
}



/* ============================================================
    STUFF SPECIFIC TO THE SAKE BREWERIES PAGE
============================================================ */

/* Formatting for the carousel / slide show
  ------------------------------------------------------------ */
.brewery-carousel {
  margin: auto;
  width: 600px;    /* photos are 600 x 600 */
  height: 600px;
  margin-top: 1rem;
}

.carousel-caption {
  background-color: rgba(100,100,100,.7);
  box-shadow: 0px 0px 4px 4px rgba(100,100,100,.7);
/*  text-shadow: 1px 1px 2rem black; */
}

.carousel-caption h5 {
  font-size: 1.5rem;
}

/*
.carousel-caption h5 {
  font-size: 1.5rem;
  background-color: rgba(100,100,100,.7);
  color: white;
  text-shadow: 1px 1px 2rem black;
}
*/






/* ============================================================
    STUFF HANDY FOR TINKERING
============================================================ */

.foo {
  background-color:white;
  color: red;
}